video {
    width: 100%;
    height: auto;
}

.content-container {
    height: 100%;
    width: 100%;
}
.video-display {
    background-color: green;
    display: inline-block;
    height: 100%;
    position: relative;
    width: 70%;
}

.sidebar {
    background-color: blue;
    display: inline-block;
    height: 100%;
    position: absolute;
    width: 30%;
}
